{{> navigation this }}

<p>Gallery</p>



{{#each this.uploadInfo}}

    <div class="col">

    <p>Nombre artista: {{this.artistDesign}}</p> 

    <p>Titulo: {{this.title}}</p> 

    <img src="{{this.path}}">

    <p>Descripción: {{this.description}}</p>
    <form action="/edit/{{this._id}}" method="GET">
        <button type="submit">Editar</button>
    </form>
    <form action="/delete/{{this.id}}" method="POST">
        <button type="submit">Borrar</button>
    </form>

    </div>
{{/each}}